body {
  background-color: #EEEEEE;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14pt;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 14pt;
}

header {
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #D787D8;
  color: #FFFFFF;
}

.material-symbols-outlined.header {
  font-size: 34pt;
}

.material-symbols-outlined.header.search-options {
  text-align: center;
  font-size: 20pt;
  color: black;
}

.material-symbols-outlined.header:hover {
  color: #EEEEEE;
}
