body {
  color: #444444;
  background-color: #EEEEEE;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14pt;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 14pt;
}

#page {
  /* background-color: #FFFFFF; */
  padding: 6px;
}

header {
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #D787D8;
  color: #FFFFFF;
}

.material-symbols-outlined.header {
  font-size: 34pt;
}

.material-symbols-outlined.header:hover {
  color: #EEEEEE;
}

/* root container for the search bar */
.search {
  display: flex;
  width: 100%;
  gap: 0.2em;
  height: 40px;
  font-size: 20pt;
}

/* the actual search input textbox */
.search-input {
  font-size: 16pt;
  flex-grow: 1;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid;
  padding-left: 0.3em;
}

.search-input::placeholder {
  font-style: italic;
  font-size: 14pt;
}

.search-button {
  font-style: italic;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid;
  background: #FFFFFF;
}

.search-button:active {
  background: #DDDDDD;
}

.search-results-items {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.search-result-item {
  display: grid;
  align-items: center;
  gap: 0.2em;
  grid-template-columns: 0.5fr 2fr 2fr 1fr;
  height: 65px;
  margin: unset;
  border-top: solid;
  border-bottom: solid;
  border-width: thin;
}

.search-result-item:hover {
  background-color: #DDDDDD;
}

.search-result-item-text {
  align-items: center;
  display: grid;
  gap: 0.2em;
  grid-template-rows: 2fr 1fr 1fr;
  margin: inherit;
}

.search-result-item-fees {
  align-items: center;
  display: grid;
  grid-template-rows: 2.5fr 1fr;
  text-align: center;
  margin: inherit;
}

#content {
  padding: 4px 0 24px 0;
}

#footer {
  color: #666666;
  background: #f9f9f9;
  padding: 10px 20px;
  border-top: 5px #efefef solid;
  font-size: 0.8em;
  text-align: center;
}

#footer a {
  color: #999999;
}
